<template>
  <div class="main">
    <div class="push-top visible-sm visible-md visible-lg"></div>
    <div>
      <div class="col-sm-2 visible-sm visible-md visible-lg">
        <div class="logo">
          <img src="../assets/img/logo.png">
        </div>
      </div>
      <div class="col-sm-8">
        <div id="form">
          <search-field v-on:activate="activate" v-on:save="save" />
          <div id="animation-container">
            <div id="this-will-have-a-funny-animation" v-bind:class="{visible : formIsVisible}">
              <search-form />
              <submit-button  v-on:save="save" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2 visible-sm visible-md visible-lg"></div>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Here's JSON</h4>
          </div>
          <div class="modal-body">
            <p style="word-wrap: break-word;"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>

  </div>
</template>


<script>
import SearchField from '../components/SearchField'
import SearchForm from '../components/SearchForm'
import SubmitButton from '../components/SubmitButton'
export default {
  name: 'SearchPage',

  data()
  {
    return {formIsVisible : false}
  },
  components: {
    SearchField,
    SearchForm,
    SubmitButton
  },

  methods: {
    activate: function(value)
    {
      this.formIsVisible = value;
    },

    save: function(value)
    {

      let data = {};

      let $form = $("#form");
      data.search = $form.find("#search-field input").val();
      data.dateLastListed = $form.find("#dateLastListed").val();
      data.sort = $form.find("input[name='sortOrder']:checked").val();
      data.searchRadius = $form.find("#searchRadius").val();
      data.inland = $form.find("#inland").get(0).checked;
      data.categories = [];
      $form.find("#category-box input:checked").each(function(index, item)
      {
        data.categories.push(item.name)
      });

      let $propertyBox = $form.find("#property-box");

      if($propertyBox.is(":visible"))
      {
        data.propertyCategories = [];
        $form.find("#property-box input:checked").each(function(index, item)
        {
          data.propertyCategories.push(item.name)
        });

        data.propertyRooms = $propertyBox.find("#propertyRooms").val();
        data.propertySize = $propertyBox.find("#propertySize").val();
      }

      data.minPrice = $form.find("#min-price").val();
      data.maxPrice = $form.find("#max-price").val();

      let payload = JSON.stringify(data);
      console.log("%c " + payload, "background: #45b862; color:#fff");
      $('#myModal').modal('show').find(".modal-body p").html(payload);

      //$.ajax("/null", data);

      this.formIsVisible = false;
    }
  }
}
</script>


<style scoped>
.push-top
{
  margin-top:20px;
}
.logo
{
  text-align:right;
}

#animation-container
{
  overflow:hidden;
}
#this-will-have-a-funny-animation
{
  position:relative;
  height:0;
  top:-2000px;
  -webkit-transition: opacity 1s, width 1s top 1s, transform 1s;
   transition: opacity 1s, width 1s, top 1s, transform 1s;
}

#this-will-have-a-funny-animation.visible
{
    top:0;
    height:auto;
}

</style>
