<template>
<div class="container-fluid">
  <div class="category row" id="category-box" data-toggle="" >
    <checkbox
    v-for="(item, index) in categories"
    v-bind:item="item"
    v-bind:value="item.value"
    v-bind:key="index"
    v-bind:checked="item.checked"
    v-on:change="item.changed">
    </checkbox>
  </div>
</div>
</template>

<script>
import Checkbox from './Checkbox'

export default {
  name: 'CategoryBox',


  data()
  {

    return {
        categories : [
                      {checked : true, value : "Everything", changed: this.allChecked},
                      {checked : false, value : "New in your area", changed: this.othersChecked},
                      {checked : false, value : "Faschion and Accesories" ,changed: this.othersChecked},
                      {checked : false, value : "Home and Garden", changed: this.othersChecked},
                      {checked : false, value : "Electronics", changed: this.othersChecked},
                      {checked : false, value : "Baby and Child", changed: this.othersChecked},
                      {checked : false, value : "Sport, Leisure and Games", changed: this.othersChecked},
                      {checked : false, value : "Cars and Motors", changed: this.othersChecked},
                      {checked : false, value : "Property", changed: this.privatePropertySelected, property: true},
                      {checked : false, value : "Services", changed: this.othersChecked},
                      {checked : false, value : "Other",  changed: this.othersChecked}
                    ]
    }
  },

  methods: {
    // if "Everything" checkbox gets checked
    // uncheck all others

    allChecked: function(checked)
    {
      this.$children.forEach((item, index) => {
        if(index == 0)
        {
          item.isChecked = true;
        }
        else
        {
          item.isChecked = false;
        }
      })

      this.$emit("propertySelected", false);
    },

    // if a "property" category is selected
    // unselect all other checkboxes
    // and dispath event to the parent form, to show the immobilien container
    privatePropertySelected: function ()
    {
      this.categories.forEach((item, index) => {

        if(item.property != true)
        {
          this.$children[index].isChecked = false;
        }
        else
        {
          this.$emit("propertySelected", this.$children[index].isChecked);
        }
      })
    },

    // if any ordinary checkbox is checked,
    // uncheck the "select all" and "immobilien" checkbxes
    othersChecked: function()
    {
        this.$children[0].isChecked = false;

        this.categories.forEach((item, index) => {
          if(item.property == true)
          {
            this.$children[index].isChecked = false;
          }
        })

        this.$emit("propertySelected", false);
    }
  },

  components: {
    Checkbox
  }
}
</script>


<style scoped>

</style>
