<template>
  <div class="col-xs-12 col-sm-6">
    <div :class="className" @click="toggle" >
      <input type="checkbox" v-model="isChecked" :name="fieldName" autocomplete="off" ><i class="fa fa-square-o" aria-hidden="true"></i> {{value}}
    </div>
  </div>
</template>

<script>
export default {
  name: 'Checkbox',

  props: ['name', 'value', 'active', 'checked'],

  mounted () {

  },

  updated()
  {
    //console.log("updated");
  },

  data () {
    //return { checked:false, active : this.checked != "false" ? "btn btn-primary col-xs-12 col-sm-5 active" : "btn btn-primary col-xs-12 col-sm-5" };

    let data = {};
    data.isChecked = this.checked;

    data.fieldName = this.name == undefined ? this.value : this.name + "[" + this.value + "]";
    //data.className = this.checked == true ? "btn btn-primary active" : "btn btn-primary"
    return data;
  },

  computed: {
    className: function()
    {
      return this.isChecked == true ? "btn btn-primary active" : "btn btn-primary"
    }
  },

  methods: {
    toggle: function(event)
    {
      //console.log("toggling", this.$el.querySelector("input").checked, this.isChecked);
      this.isChecked = this.$el.querySelector("input").checked = !this.$el.querySelector("input").checked;
      this.$emit("change", this.$el.querySelector("input").checked)
    }
  }
}
</script>


<style scoped>
.btn-primary
{
  margin-top:10px;
  text-align:left;
}

.btn-primary.active .fa-square-o:before
{
  content: "\f046";
}

.btn-primary
{
  width:100%;
  display:block;
}


.btn-primary input[type="checkbox"]
{
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
</style>
