<template>
  <label class="switch">
    <input type="checkbox" :id="name" :name="name" checked>
    <div class="slider round"></div>
  </label>
</template>


<script>
export default {
  name: 'CustomSwitch',

  props: ['name'],
}
</script>


<style scoped>
.switch {
  position: relative;
  display: block;
  float:right;
  width: 44px;
  height: 24px;
  margin-bottom:
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #45b862;
}

input:focus + .slider {
  box-shadow: 0 0 1px #45b862;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>
