<template>
<div class="container-fluid" id="property-box">
  <div class="property row" data-toggle="" >
    <checkbox
    v-for="(item, index) in categories"
    v-bind:item="item"
    v-bind:value="item.value"
    v-bind:key="index"
    v-bind:checked="item.checked"
    v-on:change="item.changed">
    </checkbox>
  </div>

  <br />
  <div class="search-param-label">
    <div><i class="fa fa-bed" aria-hidden="true"></i> Rooms</div>
  </div>
  <slider-element name="propertyRooms" step="1" min="0" max="10" v-on:change="numberOfRoomsChanged" :value="numberOfRoomsValue" :valueText="numberOfRoomsText"  />


  <br />
  <div class="search-param-label">
    <div><i class="fa fa-home" aria-hidden="true"></i> Area: m<sup>2</sup></div>
  </div>
  <slider-element name="propertySize" step="5" min="0" max="250" v-on:change="areaChanged" :value="areaValue" :valueText="areaText"  />

</div>
</template>


<script>
import Checkbox from './Checkbox'
import SliderElement from './SliderElement'

export default {
  name: 'PropertyBox',

  data()
  {
    return {
        numberOfRoomsText : "min 0",
        numberOfRoomsValue : 0,
        areaText : "min 0",
        areaValue : 0,

        categories : [
                      {checked : true, value : "Everything", changed: this.allChecked},
                      {checked : false, value : "For Sale", changed: this.othersChecked},
                      {checked : false, value : "For Renrt" ,changed: this.othersChecked},
                      {checked : false, value : "Shared", changed: this.othersChecked},
                    ]
    }
  },

  methods: {
    allChecked: function(checked)
    {
      this.$children.forEach((item, index) => {
        if(index == 0)
        {
          item.isChecked = true;
        }
        else
        {
          item.isChecked = false;
        }
      })
    },

    othersChecked: function()
    {
        this.$children[0].isChecked = false;

        this.categories.forEach((item, index) => {
          if(item.property == true)
          {
            this.$children[index].isChecked = false;
          }
        })
    },

    numberOfRoomsChanged : function(value)
    {
      this.numberOfRoomsText = "min " + value;
    },

    areaChanged : function(value)
    {
      this.areaText = "min " + value;
    }
  },

  components: {
    Checkbox,
    SliderElement
  }
}
</script>


<style scoped>

</style>
