<template>
  <div class="col-xs-6">
    <div class="btn btn-primary" v-bind:class="{active : checked}">
      <input type="radio" :name="name" :value="value" :checked="checked" id="option1" autocomplete="off"><i class="fa fa-circle-o" aria-hidden="true" checked></i> {{text}}
    </div>
  </div>
</template>

<script>
export default {
  name: 'RadioButton',

  props: ['name', 'value', 'text', 'checked'],

  mounted () {

  }
}
</script>


<style scoped>
.btn-primary
{
  margin-top:10px;
  text-align:left;
  width:100%;
}


.btn-primary.active .fa,
.btn-primary:hover .fa
{
  color:#fff;
}
.btn-primary.active .fa-circle-o:before
{
  content: "\f05d";
}


.btn-primary input[type="radio"]
{
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
</style>
