<template>
<div class="shadow green">
  <div class="container-fluid">
    <div class="arrow-back" @click="deactivate"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
    <div id="search-field" @click="activate"><input type="text" :placeholder="placeholderText" /></div>
    <div class="button-search text-right" @click="save"><i class="fa fa-search" aria-hidden="true"></i></div>
  </div>
</div>
</template>


<script>
export default {
  name: 'SearchField',
  data () {
    return {
      placeholderText: 'Search Items..'
    }
  },

  methods: {
    activate: function(event)
    {
      this.$emit("activate", true)
    },

    deactivate: function(event)
    {
      this.$emit("activate", false);
    },

    save: function(event)
    {
      this.$emit("save", true);
    }
  }
}
</script>

<style scoped>
.shadow
{
  position:relative;
  z-index:2;
  margin-top:5px;
}
.container-fluid
{
  padding-bottom:3px;
  display:flex;
}

.arrow-back, .button-search
{
  width:20px;
}


.fa
{
  padding: 5px 0 0px 0;
  line-height: 24px;
}


::-webkit-input-placeholder { /* Chrome */
  color: #fff;
  opacity:0.5
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
  opacity:0.5
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
  opacity:0.5
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #fff;
  opacity:0.5
}

#search-field
{
  flex-grow:1
}

#search-field > input
{
  border:none;
  border-bottom:1px solid #fff;
  background-color:#45b862;
  background-color:-v-green;

  color:#fff;
  outline:none;
  width:100%;
}

.button-search
{
  cursor:pointer;
}


@media only screen and (min-width: 768px) {

  .shadow
  {
    background-color:#fff;
  }

  .fa
  {
    color:#45b862;
  }

  ::-webkit-input-placeholder { /* Chrome */
    color: #45b862;
    opacity:0.5
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #45b862;
    opacity:0.5
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #45b862;
    opacity:0.5
  }
  :-moz-placeholder { /* Firefox 4 - 18 */
    color: #45b862;
    opacity:0.5
  }

  #search-field > input
  {
    background-color:#fff;
    color:#000;
    line-height:20px;
    padding-top:7px;
  }
}

</style>
