<template>
  <div id="search-form">
    <div class="container-fluid">
      <h3>FILTERS</h3>

        <div class="search-param-label">
          <div><i class="fa fa-calendar" aria-hidden="true"></i> Listed in the last</div>
        </div>
        <slider-element name="dateLastListed" step="3" max="30" v-on:change="dateValueChanged" :value="lastListedValue" :valueText="lastListedText"  />
        <hr />

        <div class="search-param-label">
          <div><i class="fa fa-calendar" aria-hidden="true"></i> Sort by</div>
        </div>

        <div class="container-fluid">
          <div class="sort row" data-toggle="buttons">
            <radio-button name="sortOrder" text="Distance" value="Distance" checked="checked" />
            <radio-button name="sortOrder" text="Date" value="Date" />
            <radio-button name="sortOrder" text="Price" value="PriceUp" sufixIcon="fa fa-angle-up" />
            <radio-button name="sortOrder" text="Price" value="PriceDown" sufixIcon="fa fa-angle-down" />
          </div>
        </div>
        <hr />

        <div class="search-param-label">
          <div><i class="fa fa-eercast" aria-hidden="true"></i> Radius</div>
        </div>
        <slider-element  name="searchRadius" step="10" min="0" max="200" v-on:change="radiusChanged" :value="radiusValue" :valueText="radiusText"  />
        <hr />

        <div class="search-param-label">
          <div class="">
            <div class="row">
              <div class="col-xs-6"><i class="fa fa-flag" aria-hidden="true"></i> Search only in my land</div>
              <div class="col-xs-6 text-right">
                <custom-switch name="inland" />
              </div>
            </div>
          </div>
        </div>
        <hr />

        <div class="search-param-label">
          <div><i class="fa fa-calendar" aria-hidden="true"></i> Select category</div>
        </div>
        <category-box @propertySelected="propertyBoxToggled"></category-box>
        <hr />


        <div v-if="showHousing">
          <div class="search-param-label">
            <div><i class="fa fa-calendar" aria-hidden="true"></i> Property</div>
          </div>
          <property-box></property-box>
          <hr />
        </div>

        <div class="search-param-label">
          <div><i class="fa fa-eur" aria-hidden="true"></i> Set Your price range</div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-6"><input type="text" name="min-price" id="min-price" class="price-range" placeholder="Min. price"></div>
            <div class="col-xs-6"><input type="text" name="max-price" id="max-price" class="price-range" placeholder="Max. price"></div>
          </div>
        </div>
        <hr />

    </div>
  </div>
</template>


<script>
import SliderElement from './SliderElement'
import CategoryBox from './CategoryBox'
import PropertyBox from './PropertyBox'
import RadioButton from './RadioButton'
import CustomSwitch from './CustomSwitch'

export default {
  name: 'SearchForm',

  data () {
    return {
      lastListedValue : 10,
      lastListedText : "10 days",

      radiusValue : 100,
      radiusText : "100 km",

      showHousing : false,
    }
  },
  mounted () {

  },
  components: {
    SliderElement,
    CategoryBox,
    PropertyBox,
    RadioButton,
    CustomSwitch
  },

  methods: {
    dateValueChanged: function (value)
    {
      this.lastListedValue = value;

      if(value == 1)
      {
        this.lastListedText = "24 hours";
      }
      else if(value == 30)
      {
        this.lastListedText = "Forever";
      }
      else
      {
        this.lastListedText = value + " days";
      }
    },

    radiusChanged: function(value)
    {
      value = Math.floor(value);

      if(value <= 1)
      {
        this.radiusText = "1 km";
      }
      else if(value == 200)
      {
        this.radiusText = "Everywhere";
      }
      else
      {
        this.radiusText = value + " km";
      }
    },

    propertyBoxToggled: function(value)
    {
      this.showHousing = value;
    }
  }
}
</script>

<style scoped>

#search-form
{
  background-color:#fff;
}

label
{
  margin-bottom:0;
}

.search-param-label
{
  margin-bottom:5px;
}

.fa
{
  color:#45b862;
}

hr
{
  border-top:1px solid #f1f1f1;
  margin: 10px 0;
}



.price-range
{
  border:none;
  border-bottom:1px solid #999;
  outline:none;
  width:100%;
}
</style>
