<template>
  <div>
    <div class="col-xs-9"><input class="slider" type="text" :name="name" :id="name" /></div>
    <div class="slider-value">{{valueText}}</div>
  </div>
</template>

<script>
export default {
  name: 'SliderElement',

  props: ['name', 'icon', 'label', 'step', 'min', 'max', 'value', 'valueText'],

  mounted () {
    let slider = new Slider(this.$el.querySelector(".slider"), {
          min: this.min == undefined ? 1 : this.min,
          max: this.max == undefined ? 10 : this.max,
          step: this.step == undefined ? 1 : this.step,
          value : this.value == undefined ? 10 : this.value,
    });

    slider.on("change", this.valueChanged.bind(this));
  },

  methods: {
    valueChanged: function (values) {
      this.$emit('change', values.newValue)
    }
  }

}
</script>


<style scoped>
.slider-value
{
  font-size:12px;
  text-align:right;
}
</style>
