<template>
  <div class="shadow-up green">
    <button @click="save">APPLY</button>
  </div>
</template>


<script>
export default {
  name: 'SubmitButton',
  methods: {
    save: function()
    {
      this.$emit("save", true)
    }
  }
}
</script>

<style scoped>
.shadow-up
{
  position:relative;
  color:#fff;
  text-align:center;
}

.shadow-up button
{
  width:100%;
  border:none;
  background-color:#3fa85a;
  padding:10px 0;
  outline:none;
}

.shadow-up button:hover
{
  background-color:#399951;
}


</style>
