<template>
  <div id="app">
    <div id="content-view">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style>
body
{
  background-color:#45b862;
  margin :0;
  padding:0;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: 15px/20px Arial, Helvetica, sans-serif;
}

.green
{
  background-color:#45b862;
  color:#fff;
}

.shadow
{
   webkit-box-shadow: 0 2px 1px -1px rgba(0,0,0,0.5);;
	   -moz-box-shadow: 0 2px 1px -1px rgba(0,0,0,0.5);;
	        box-shadow: 0 2px 1px -1px rgba(0,0,0,0.5);;
}

.shadow-up
{
    -webkit-box-shadow: 0px -2px 1px -1px rgba(0,0,0,0.5);
       -moz-box-shadow: 0px -2px 1px -1px rgba(0,0,0,0.5);
            box-shadow: 0px -2px 1px -1px rgba(0,0,0,0.5);
}

input[type="text"]
{
  color: #707070;
  border: none;
  border-right: 1px solid #d4cfc4;
  background: #fff;
  padding: 2px 7px 3px;
  line-height:24px;
  border-radius: 0;
  font-size:15px;
}

.slider.slider-horizontal
{
  width:100%;
}

.slider .slider-selection
{
  background: #45b862;
}

.slider .slider-track-high
{
  background: #45b862;
  opacity:0.2;
}

.slider-handle
{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+20,2989d8+85,2989d8+85,1e5799+100 */
  background: rgb(30,87,153); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, rgb(30,87,153) 0%, rgb(125,185,232) 20%, rgb(41,137,216) 85%, rgb(41,137,216) 85%, rgb(30,87,153) 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgb(30,87,153) 0%,rgb(125,185,232) 20%,rgb(41,137,216) 85%,rgb(41,137,216) 85%,rgb(30,87,153) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgb(30,87,153) 0%,rgb(125,185,232) 20%,rgb(41,137,216) 85%,rgb(41,137,216) 85%,rgb(30,87,153) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#1e5799',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.btn-primary,
.btn-primary.focus,
.btn-primary:active
{
  color:#333;
  background-color: #f3f3f3;
  border:none;
  border-radius:5px;
  outline:none !important
}

.btn-primary.active,
.btn-primary:hover
{
  color:#fff;
  background-color: #45b862 !important;
}


.btn-primary.active .fa
{
  color:#fff;
}
</style>
